@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .unpurchased {
    filter: grayscale(100%) blur(30px);
  }

  .isometric {
    transform: rotateX(-45deg) rotateY(0deg) rotateZ(0deg);
  }
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    @apply rounded-xl bg-woodlight py-1 px-2 text-white transition duration-300 ease-in-out hover:bg-orange-300;
  }
}
